body {
  box-sizing: border-box;
  background-image: url(../images/planetexpress.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: teal;
  font-size: 20px;
  font-family: 'Geo', sans-serif;
}

hr {
  opacity: 0;
}

h1 {
  font-family: 'Bungee Inline', cursive;
}

#prologueCard {
  position: absolute;
  z-index: 2;
  margin-left: 25%;
  margin-top: -10%
}

.card {
  color: white;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
  background-color: teal;
}

#startGame {
  font-size: 22px;
}
