body {
  box-sizing: border-box;
  background-image: url(../images/planetexpress.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: teal;
  font-size: 30px;
  font-family: 'Geo', sans-serif;
  width: 100%;
  height: auto;
  position: relative;
}

hr {
  opacity: 0;
}



h1 {
  font-family: 'Bungee Inline', cursive;
}

.jumbotron{
  background-color: rgba(43,111,150,0);
}

#playMusic {
  margin: 0 4px;
}

#pauseMusic {
  margin: 0 4px;
}

#prologueCard {
  position: absolute;
  z-index: 2;
  margin-left: 10%;
  margin-top: -17%;
  border-radius: 10px;
}

.card {
  color: white;
  border: 1px solid black;
  margin: 20px;
  padding: 20px;
  background-color: teal;
}

.card-img-top {
  width: 95%;
  height: auto;
}

#startGame {
  font-size: 22px;
}

.btn {
  font-size: 24px;
}

.panel-default>.panel-heading {
  background-color: rgba(45,128,150,0);
  color: yellow;
}

.panel-default {
  background: rgba(45,128,150,0);
  color: yellow;
  border: none;
}

span {
  background-color: yellow;
  color: black;
}

.character {
  width: 16%;
  height: auto;
  display: inline-block;
  margin: 6px;
}

.character-name {
  background-color: yellow;
  color: black;
}

.character-health{
  background-color: yellow;
  color: black;
}

#messageArea {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}
