body {
  box-sizing: border-box;
  background-image: url(../images/planetexpress.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: teal;
  font-size: 20px;
  font-family: 'Geo', sans-serif;
}

hr {
  opacity: 0;
}

h1 {
  font-family: 'Bungee Inline', cursive;
}

.jumbotron{
  background-color: rgba(43,111,150,0);
}

#playMusic {
  margin: 0 4px;
}

#pauseMusic {
  margin: 0 4px;
}

#prologueCard {
  position: absolute;
  z-index: 2;
  margin-left: 25%;
  margin-top: -10%
}

.card {
  color: white;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
  background-color: teal;
}

#startGame {
  font-size: 22px;
}

.btn {
  font-size: 24px;
}

.character {
  width: 23%;
  height: auto;
  display: inline-block;
  margin: 6px;
}

#messageArea {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}
